{{ define "footer" }}
    <div class="footer d-flex align-items-center small">
        ©&nbsp;2021&nbsp;·&nbsp;<a href="/">典合網</a>&nbsp;·&nbsp;
        <a style="color: whitesmoke" href="https://beian.miit.gov.cn">粵ICP備2021065472號</a>&nbsp;·&nbsp;
        <a href="mailto:lshare@outlook.com?subject=致貴站的意見或建議">意見反饋</a>
    </div>
{{ end }}